<!-- views/partials/navbar.ejs -->
 <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/navbar.css" />
</head>
<body>
  <nav class="navbar">
    <div class="navbar-container">
      <a href="/" class="navbar-brand">MyApp</a>
      <ul class="navbar-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/openai">OpenAI</a></li>
        <li><a href="/energyTransmission">Energy</a></li>
        <li><a href="/dropDown">Select Menu</a></li>
      </ul>
      <div class="share-buttons">
        <!-- Share Buttons will go here -->
      </div>
    </div>
  </nav>
</body>
</html>