<!-- index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="icon" type="image/x-icon" href="/path/to/favicon.ico">
  <script type="module" src="/js/index.js"></script>
</head>
<body>
  <%- include('partials/navbar') %>
  <h1>Welcome to the Home Page</h1>
  <p>This is the home page of the application.</p>
</body>
</html>
