.div1 {
    height: 50vh;
    width: 100%;
    justify-self: center;
    display: flex;
    border: 1px solid black;
}
.download {
    height: 40px;
    width: 150px; 
    margin: 1% 0 2% 2%;
}
#myChart{
    height: 100%;
    width: 100%;
}